
/* vars */
:root{
    --white:#fff;
    --text-font:#202124;
    --button-disabled:#ebebe0;
    --button-icon:#2a21da;
}

/* Common elements */
body {
    width:320px;
    height:320px;
    color: var(--text-font);
    background-color: var(--white);
    font-family: monospace;
   }
.section.position-absolute{
    right: 0;
    top: 0;
}
#closeBtn {
    cursor: pointer;
}
/* Header */
/* Main */
.mb-3.alert-info {
    min-height: 50px;
    overflow: auto;
}
.alert-dark.rounded{
    min-height: 80px;
}
#end-time{
    word-break: break-all;
}
#userMessage {
    max-height: 100%;
    text-align: left;
    min-height: calc(100% - 40%);
}
.msg{
    word-break: break-all;
}
/* Footer*/
.btn-toolbar{
    /* bottom: 0; */
    left: 0.5rem;
    right: 0.5rem;
}
button .fas {
    font-size: 1em;
}
.btn:disabled > .fas {
    color: var(--button-disabled);
}
